build
dist
lib
reports
_vendor/*/project-mgmt
_vendor/*/xslt
/download

# developer files
development.build.properties

# configuration files
.vscode
*.xpr
*.code-workspace
.ant-targets-build.xml

.project
zz

# temporary only
*_uncefact-ubl.xml
