default:
  image: projekte.kosit.org:5050/xse/xse-build-common/ant-base:latest

stages:
  - build
  - test
  - deploy
  - release
  - publish

variables:
  XSE_COMPONENT_PROJECT_ID: "356"
  XSE_COMPONENT_PACKAGE_REGISTRY_URL_PREFIX: "${CI_API_V4_URL}/projects/${XSE_COMPONENT_PROJECT_ID}/packages/maven"

build-job:
  stage: build
  image: projekte.kosit.org:5050/xse/xse-build-common/ant-base:latest
  script:
    - echo "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
    - ant release
    - cat build/build.env
  artifacts:
    paths:
      - dist/
      - build/
    expire_in: 1 day
    reports:
      dotenv: build/build.env

deploy-to-xse-component-repository:
  stage: deploy
  image: maven:3.8.5-openjdk-17
  variables:
    REPO_ID: "xse-component-repository"
    FILE_PATH: "dist/${PACKAGE_BINARY}"
  rules:
    - if: $CI_COMMIT_TAG
  dependencies:
    - build-job
  script:
    - env
    - |
      echo "<settings><servers><server><id>${REPO_ID}</id><configuration><httpHeaders><property><name>Job-Token</name><value>${CI_JOB_TOKEN}</value></property></httpHeaders></configuration></server></servers></settings>" > /tmp/settings.xml
    - mvn deploy:deploy-file
      -Durl=${XSE_COMPONENT_PACKAGE_REGISTRY_URL_PREFIX}
      -DrepositoryId=${REPO_ID}
      -Dfile=${FILE_PATH}
      -DgroupId=${GROUP_ID}
      -DartifactId=${ARTIFACT_ID}
      -Dversion=${PACKAGE_VERSION}
      -Dpackaging=zip
      -Dskip=snapshots
      --settings /tmp/settings.xml

release_job:
  stage: release
  image: registry.gitlab.com/gitlab-org/cli:latest
  rules:
    - if: $CI_COMMIT_TAG && $CI_COMMIT_TAG =~ /^v/
    - if: $CI_COMMIT_TAG && $CI_COMMIT_TAG !~ /^v/
      when: manual
  dependencies:
    - build-job
  script:
    - echo "running release_job with testsuite version=${PACKAGE_VERSION} and tag=$CI_COMMIT_TAG"
    - |
      EXPECTED_TAG="v${PACKAGE_VERSION}"
      if [ "$CI_COMMIT_TAG" = "$EXPECTED_TAG" ] || [[ "$CI_COMMIT_TAG" =~ ^v ]]; then
        echo "Tag validation passed: $CI_COMMIT_TAG"
      else
        echo "WARNING: Tag $CI_COMMIT_TAG does not match expected pattern $EXPECTED_TAG"
      fi
  release:
    name: 'Release $CI_COMMIT_TAG'
    description: 'xrechnung-testsuite release $CI_COMMIT_TAG for XRechnung ${XRECHNUNG_VERSION}'
    tag_name: '$CI_COMMIT_TAG'
    ref: '$CI_COMMIT_TAG'
    assets:
      links:
        - name: 'XRechnung Testsuite ZIP'
          url: '${XSE_COMPONENT_PACKAGE_REGISTRY_URL_PREFIX}/${MAVEN_PACKAGE_NAME}/${PACKAGE_VERSION}/${PACKAGE_BINARY}'
          link_type: 'package'
